@model PagedList.IPagedList<MvcBlog.Models.Blog>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Blog", FormMethod.Get))
{
    <p>
        Find by Name: @Html.TextBox("searchByName")
    </p>
    <p>
        Find by Description: @Html.TextBox("searchByDescription")
    </p>
    <p>
        Sort by: @Html.DropDownList("sortOrder", new SelectList(new List<string>() { "name_asc", "name_desc", "description_asc", "description_desc", "owner_asc", "owner_desc" }), "Select Sort Order")
    </p>
    <p>
        Entries per page: @Html.DropDownList("pageSize", new SelectList(new List<int>() { 10, 25, 50, 100 }), "Select Page Size")
    </p>
    <input type="submit" value="Search" />
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rank)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                <span style="color: @(item.Rank >= 85 && item.Rank <= 100 ? "red"
            : item.Rank >= 70 && item.Rank <= 84 ? "yellow"
            : item.Rank >= 55 && item.Rank <= 69 ? "blue"
            : item.Rank >= 70 && item.Rank <= 84 ? "yellow"
            : item.Rank >= 40 && item.Rank <= 54 ? "cyan" : "black"
            )">
                    @Html.DisplayFor(modelItem => item.Rank)
                </span>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new
                {
                    id = item.BlogId
                }) |
                @Html.ActionLink("Details", "Details", new { id = item.BlogId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BlogId })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
